@import "variables.scss";

// side menu \/

.side-menu-wrapper {
    display: flex;

    padding: 50px 0px 0px 0px;
}

.sidemenu-conteiner {
    min-width: 300px;
    min-height: 600px;

    background: $backGround;
}

// side menu /\

// main content \/
.maincontent-conteiner {
    padding: $padding-Y;
    width: 100%;
    margin: 0px 0px 0px 50px;

    background: $white;

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .maincontent-description {
        padding-top: $paddingTop;

        p {
            margin: 20px 0px;
            padding: 0;
            font-size: 20px;
        }

        ul {
            margin-top: 20px;
            margin-left: 30px;
        }

        li {
            margin: 20px 0px;
            padding: 0;
            font-size: 20px;
        }

        a {
            font-size: 20px;
            text-decoration: none;
            color: $link;
        }
    }
}

// main content /\