@import "variables.scss";

.header {
    height: 100px;
    width: 100%;

    background: $black;

    .header-conteiner {
        display: flex;
        justify-content: space-between;
    
        font-size: 30px;
        padding: 20px 0px 20px 0px;
    }

    .header-logo-conteiner {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .header-logo-item {
        margin: 0px 30px 0px 0px;
    }

    .header-logo-title {
        h3 {
            font-size: 30px;
            color: $white;
        }
    }

    nav {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .nav-conteiner {
        display: flex;

        a {
            color: $white;
            font-size: 20px;
            margin: 0px 0px 0px 20px;
            text-decoration: none;
        }

        .header-nav__active {
            color: $gray;
        }
    }
}

